spring:
  application:
    name: apier-auth
  profiles:
    active: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update

management:
  security:
    enabled: false


zuul:
  ignoredServices: '*'
  routes:
    love:
      path: /love/**
      url: http://localhost:7701/
      strip-prefix: false


---
spring:
  profiles: dev

  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/events?useSSL=false
  redis:
    host: 192.168.0.78
    port: 6379


logging:
  level:
    cn.apier: debug
    org.springframework.cloud.netflix.zuul: debug

apier:
  auth:
    timeWindowInMs: 600000



